body{
    background-image:url('C:/Users/Mahbanoo/Desktop/Programming class/Background/photo_2019-01-27_15-43-45.jpg');
    height:100vh;
    background-repeat: repeat;
   /* background-repeat: repeat-y;
    background-repeat: repeat-x;
    background-repeat: no-repeat;
    در بک گراند "راند" عکس نصفه دیده نمیشود با توجه به سایز عکس
    background-repeat: round;
    در بک گراند "اسپیس" عکس نصفه دیده نمیشود با توجه به فواصل خالی عکس
    background-repeat: space;
    */
}