body{
    /*آدرس دهی relative*/
    background-image:url('./Image/photo_2019-01-27_15-43-45.jpg');
    /*اگر عکس در پوشه ی "بردر"باشد
    './../border/photo_2019-01-27_15-43-45.jpg'
    ".." به معنای برگشتن به پوشه قبلی است*/

    /*آدرس دهی درستیه ولی خوب نیست absolute
    C:/Users/Mahbano/Desktop/Programming class/Background/Image*/
    

    height:100vh;
    background-repeat: repeat;
   /* background-repeat: repeat-y;
    background-repeat: repeat-x;
    background-repeat: no-repeat;
    در بک گراند "راند" عکس نصفه دیده نمیشود با توجه به سایز عکس
    background-repeat: round;
    در بک گراند "اسپیس" عکس نصفه دیده نمیشود با توجه به فواصل خالی عکس
    background-repeat: space;
    */
}