html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    margin: 0px;
}

#middle{
    display: flex;
    height: auto;
    width: auto;
    /*"هایت" خود را برابر بچه اش یا همون محتواش میکنه برای زمانیکه از "فلوت" استفاده میکنیم*/
    overflow: hidden;
}

#list{
    flex-grow: 1;
    height:auto ;
    flex-basis: 300px;
    margin-left: 0px;
   
}
ul{
    padding: 0px;
}

li{
    background-color: rgb(69, 69, 253);
    height: 20px;
    display: block;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 10px;
    padding: 17px 5px 17px 5px ;
    color: white;
    list-style-type: none;
}

#top{
    margin:5px 5px 5px 5px ;
    height: 30px;
    background-color: purple;
    font-size: large;
    color: white;
    padding:20px 20px ;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

#footer{
    height: 30px;
    background-color: rgba(60, 60, 170, 0.842);
    margin:5px 5px 5px 5px ;
    color: white;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding:20px 0px 15px 0px ;
    box-sizing: border;
}

#explain{
    flex-grow: 1;
    background-color: rgb(69, 69, 253);
    height: auto;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 10px 20px 10px;
    color: white;
}

.ex{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
padding-left: 50px;
    width: 200px;
}

.title{
    text-align: center;
    font-size: large;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
padding: 10px;
}

#title{
    padding: 30px 30px 0px 100px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

#pconcept{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
padding-left: 100px;
}

    #para{
        flex-grow: 1;
      height: auto;
      background-color: gold;
    }

/*اگر عرض صفحه کمتر از چهارصد پیکسل شد*/
    @media only screen and (max-width: 400px) {
        #para{
            width: 360px;
          }
        }

      
          @media only screen and (max-width:768px){
            #middle{
                flex-direction: column;
            }
         }